MONGO_URI=MONGO_URI


EMAIL_HOST=host_email
EMAIL_PORT=
EMAIL_SECURE= // true, false
EMAIL_USER=company_email
EMAIL_PASS=email_api_key

FRONTEND_URL=
EMAIL_FROM=


JWT_SECRET=jwt_secret_key
JWT_EXPIRE=  # Can be 24h, 7d, 30d,


MAX_LOGIN_ATTEMPTS=
LOCK_TIME=
ATTEMPT_RESET_TIME=

CORS_ORIGIN=


NODE_ENV=
PORT=

# In routes.api.js
const MAX_LOGIN_ATTEMPTS =
const LOCK_TIME = 