MONGO_URL=mongo_url

# Email Configuration
EMAIL_HOST=gmail_host.email
EMAIL_PORT=gmail_port
EMAIL_SECURE= //true false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# JWT Configuration
ACCESS_JWT_SECRET=
REFRESH_JWT_SECRET=
ACCESS_JWT_EXPIRE=
REFRESH_JWT_EXPIRE=


MAX_LOGIN_ATTEMPTS=
LOCK_TIME=
ATTEMPT_RESET_TIME=


FRONTEND_URL=
CORS_ORIGIN=


NODE_ENV=development  # or production
PORT=8080

# In routes.api.js
const MAX_LOGIN_ATTEMPTS =
const LOCK_TIME = 



CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NODE_ENV=